@tailwind base;
@tailwind components;
@tailwind utilities;

/* .fade-in {
  opacity: 0;
  transition: opacity 0.7s ease-in;
}

.fade-in.loaded {
  opacity: 1;
} */

.image-container {
  position: relative;
  overflow: hidden;
  /* height: 0;
  padding-bottom: 150%; */
}

.zoom-effect {
  transition: transform 0.3s ease;
}

.zoom-effect:hover {
  transform: scale(1.1);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.8s forwards;
}

.google-login{
  flex-grow: 1;
    font-family: "Google Sans",arial,sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.react-loading-skeleton{
  z-index: unset !important;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Set your desired background color */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 9999; /* Make sure the splash screen is above other elements */
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Responsive layout for the product list */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Styling for each product item */
.product-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  /* Ensure a fixed height for consistent alignment */
  
}

/* Container for image */
.image-container {
  flex-grow: 1; /* Allow image to grow within the container */
}

/* Title style */
.product-name {
  font-size: 1.2rem;
  margin: 10px 0;
  cursor: pointer;
  /* Set a fixed height for the product name */
  height: 60px; /* Adjust based on your design */
  /* Hide overflow to prevent button shift */
  overflow: hidden;
}

/* Price style */
.product-price {
  font-size: 1rem;
  color: #888;
  margin-bottom: 10px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Show 2 columns */
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/* "Add to Cart" button style */
/* Style your button here */



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .checkout-button {
    margin-right: 1rem;
  }
}